<title>EvoCloud - profile</title>
{% extends "base.html" %}
{% block content %}
    <h2>{{ user.username }}'s profile.</h2> <legend>Files:</legend>
    <div>
        {% for file in files.items %}
        - <a href="{{ url_for('views.filepage', hash=file.hash) }}">{{ file.file }}</a><br>
        {% endfor %}
    </div>
    <br>
    <div>
    {% for page_num in files.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if files.page == page_num %}
          <a href="{{ url_for('views.profile', page=page_num, username=user.username) }}">{{ page_num }}</a>
        {% else %}
          <a href="{{ url_for('views.profile', page=page_num, username=user.username) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    </div>
{% endblock %}